# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.exe`
*.class
*.exe

# Ignore `bin` dir
bin/
# or
*/bin/*

# Unignore all `.exe` in `bin` dir
!*/bin/*.exe

.vscode

uva/146_ID_Codes.c++
uva/Jolly_Jumpers_V2.c++
uva/11340_Newspaper.c++
uva/11044_Searching_for_Nessy.c++
uva/10107_What_Is_The_Median.c++